.weatherCard {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.weatherCard h2 {
    font-size: 26px;
    color: var(--text-secondary);
    font-weight: 700;
    margin-bottom: 8px;
}

.temp {
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    color: var(--text-primary);
}

.tempContainer {
    gap: 5px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.tempUnit {
    color: var(--text-primary)
}

.tempChange, .tempChange button {
    font-size: 30px;
    font-weight: 700;
    gap: 10px;
    display: flex;
    align-items: flex-start;
}

.tempChange hr {
    align-self: center;
    border: 1px solid var(--text-muted);
    height: 25px;
}

.tempChange button {
    padding-top: 2px;
    border: none;
    background: none;
    color: var(--text-secondary)
}

.tempChange button:hover {
    cursor: pointer;
    scale: 110%;
    color: var(--text-primary)
}

.tempChange button:active {
    scale: 95%;
}

.description {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: capitalize;
    margin-top: 8px;
}

.details {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.details p {
    font-size: 14px;
    color: var(--text-muted);
}