.weatherCard {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.right p {
    font-size: 16px;
    color: var(--text-secondary);
}

.weatherCard h2 {
    font-size: 30px;
    color: var(--text-secondary);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.temp {
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    color: var(--text-primary);
}

.tempContainer {
    gap: 5px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.tempUnit {
    color: var(--text-primary)
}

.tempChange, .tempChange button {
    font-size: 30px;
    font-weight: 700;
    gap: 10px;
    display: flex;
    align-items: flex-start;
}

.tempChange hr {
    align-self: center;
    border: 1px solid var(--text-muted);
    height: 25px;
}

.tempChange button {
    padding-top: 2px;
    border: none;
    background: none;
    color: var(--text-secondary)
}

.tempChange button:hover {
    cursor: pointer;
    scale: 110%;
    color: var(--text-primary)
}

.tempChange button:active {
    scale: 95%;
}

.description {
    font-size: 23px;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: capitalize;
}

.details {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.details p {
    font-size: 14px;
    color: var(--text-muted);
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}